<header class="site-header">

  <div class="wrapper">

    <a class="site-logo" href="/"><img src="/img/logo.svg" alt="We CodeSign Podcast Logo"></a>

    <p class="site-mainText">El Podcast de diseño y desarrollo web en castellano</p>

    <nav class="site-nav">
    	<ul>
    		<li>
    			<a href="/suscribirse">Suscribirse</a>
    		</li>
    		<li>
    			<a href="/acerca">Acerca</a>
    		</li>
    		<li>
    			<a href="/contacto">Contacto</a>
    		</li>
    	</ul>
    </nav>

  </div>

</header>
