///////////////////////////////////////////
// FOOTER
///////////////////////////////////////////
footer {
	font-size: 85%;
	padding: 10px 15px;
	border-top: 1px solid $tertiaryColor;
	background-color: white;

	& p {
		color: $secondaryColor;
		text-align: center;
		
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	& a {
		color: $secondaryColor;
	}

		&:visited {
			color: $secondaryColor;
		}
}
